<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
    <title>List of bids</title>
    <style>
        body {
            font-family: 'Alegreya', serif;
        }
        table {
            margin-top: 50px;
            margin-left: 150px;
            margin-right: 150px;
        }
        #title {
            margin-top: 50px;
        }
        a {
            color: blue;
        }
        #main {
            margin-left: 320px;
            margin-right: 50px;
        }
        .btn {
            border-radius: 0px;
        }
    </style>
</head>
<title>Vehicle on work</title>
<body>
        <h1 class="d-flex justify-content-center" id="title">My vehicles</h1>
        <div class="d-flex justify-content-center">
            <table class="table table-bordered">
                <tbody>
                <tr><br>
                    <th>VIN</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Number</th>
                    <th>Edit/Delete</th>
                </tr>
                <tr th:each="el : ${vehicle}">
                    <td th:text="${el.vin}"></td>
                    <td th:text="${el.brand}"></td>
                    <td th:text="${el.type}"></td>
                    <td th:text="${el.number}"></td>
                    <td><a th:href="'/car/' + ${el.vin} + '/edit'" class="btn btn-warning">Edit</a> |
                    <form th:action="'/car/' + ${el.vin} + '/remove'" method="post">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form></td>
                </tr>
                </tbody>
            </table>
        </div>
        <a href="/" class="btn btn-info" id="main">Main Page</a>
</body>
</html>
